.about-serv{
    margin-top: 10px;
    background-color: white;
    opacity: 0.8;
    font-size: 20px;
    padding: 10px;


    p{
        margin: 10px 0;
    }

    h1, h2{
        text-align: center;
        font-weight: 100;
        margin-bottom: 20px;
        color: forestgreen;
    }

}
