.home{
    color: white;
    text-align: center;
    font-size: 40px;

    
    img{
        max-width: 380px;
        width: 100%;
        opacity: 0.3;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

    }
    div{
        position: absolute;
        bottom: 30px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

@media (max-width: 1250px){
    .home{
        font-size: 34px;
    }
} 
@media (max-width: 650px){
    .home{
        font-size: 24px;
    }
}